.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
.d-flex {
  display: flex;
  align-items: center;
}
.container_total {
  width: 95%;
  background-color: var(--white-color);
  margin: 10rem auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
  border-radius: 2rem;
}

.left-side h3 {
  margin: 0 2rem;
  font-size: 2.5rem;
}
.square--right,
.square--left {
  transform: rotate(45deg);
  font-size: 3.5rem;
}

.square--left {
  color: var(--darkPurple-color);
}
.square--right {
  color: var(--lightPurple-color);
}
.dashboard-list {
  margin: 2rem 0;
}

.dashboard-list__items {
  margin: 2rem 0;
  padding: 2rem;
  font-weight: 500;
  font-size: 1.5rem;

  &:hover {
    background-color: var(--lightPurple-color);
    border-radius: 2rem;
    cursor: pointer;
  }

  i {
    font-size: 1.5rem;
    color: var(--light-Gray-color);
    margin: 0 1rem;
  }
}

.dashboard-list__items:first-child {
  background-color: var(--lightPurple-color);
  padding: 2rem;
  width: 100%;
  border-radius: 2rem;
}

.subscription__container {
  background-color: var(--lightPurple-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin: 5rem 0;
  height: 30rem;

  img {
    width: 20rem;
    top: -80px;
  }

  button {
    border: none;
    border-radius: 2rem;
    background-color: var(--darkPurple-color);
    color: var(--white-color);
    padding: 1.6rem;
    margin-top: 2rem;
  }
}

.subscription__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;

  h4 {
    margin: 1rem 0;
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}
main {
  display: flex;
  flex-direction: column;
}
.header-container {
  justify-content: space-around;
}

.header__title h2 {
  font-size: 2rem;
  font-weight: 500;
}

.search-bar {
  background-color: var(--white-color);
  padding: 1.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
  margin: 0 1rem;

  input {
    border: none;
    outline: none;
  }
}

.notification {
  background-color: var(--white-color);
  padding: 1.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
}

.course-title{
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem;
}
.course__map-image{
    margin: 2rem 2rem;

    img{
        width: 12rem;
        background-color: var(--darkOrange-color);
    }
}


.course__map{
    display: flex;
    flex-direction: column;
    background-color: var(--lightOrange-color);
    margin: 0 2rem;

}

.profile-images img{
    border-radius: 50%;
    width: 3rem;

}
.course__map-javascript{
    margin: 2rem 2rem;

    img{
        width: 10rem;
        background-color: var(--darkOrange-color);
    }
}


.course__map{
    display: flex;
    flex-direction: column;
    background-color: var(--lightOrange-color);
    margin: 0 2rem;

}

.profile-images img{
    border-radius: 50%;
    width: 3rem;

}